{{#with data}}
<div class="main">
	<img src="{{image}}" alt="image-template-4" class="main_image">
	<div class="main_content">
		<h1 class="main_title">{{heading}}</h1>
		<p class="main_text">{{description}}</p>
		<a href="{{href}}" class="main_button">{{button}}</a>
	</div>
</div>
{{/with}}